.vscode/**
.jumpjump/**
.github/**
.vscode-test/**
dist/**
*.vsix
.gitignore
AGENTS.md
scripts/**
test_mds/**
src/**
out/test/**
out/**
!out/extension.js
node_modules/**
node_modules/**/.cache/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
*.map
images/screenshots/*.svg
tsconfig.json
.eslintrc.json
.eslintignore
